# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# Visual Studio / Rider / VSCode files
.vscode/
*.csproj
*.sln
*.user
*.suo

# OS-specific
.DS_Store
Thumbs.db

# Unity Asset Store tools
Assets/AssetStoreTools*
